$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

::ng-deep{
  .mat-form-field-infix{
    padding: 0px !important;
    width: 320px !important;
  }
  .mat-form-field-wrapper{
    margin-bottom: 0;
    padding-bottom: 0 !important;
  }
  .mat-select-value {
    padding-top: 5px;
  }
}
body, html {
  background-color:$color-bg;
}

body, p, input, select, textarea, button, mat-option {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}

div, p {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}

input, mat-option{
  color:rgb(82, 79, 79);
}
form {
  padding: $ruler*3;
  width: $ruler*20;
  margin: 0 auto;
  padding-bottom: 30px;

  margin-top: 30px;
  margin-bottom: 30px!important;
  color:#61677C;
  font-weight: bold;
  border-radius: $ruler;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
}

.segment {
  padding: $ruler*2 0;
  text-align: center;
  h1{
    font-weight: 900;
    font-size: $ruler*2;
  }
}

button, input , mat-select{
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}
mat-option{
  border: 0;
  outline: 0;
  font-size: $ruler;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input, mat-option, mat-select {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

button{
  margin-top: 30px;
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  width: 100%;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  .icon {
    margin-right: $ruler/2;
  }

  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler*3;
    height: $ruler*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 $ruler/2;
    font-size: $ruler*1.2;

    .icon {
      margin-right: 0;
    }
  }

  &.red {
    display: block;
    width: 100%;
    color:$color-red;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}

p{
  &.error{
    color: rgb(195, 119, 119);
    font-size: 14px;
  }
}

.register{
  display: flex;
  justify-content: center;
}




