<div class="form-container">
  <form [formGroup]="form" autocomplete="on">

    <div  class="form">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="firsName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Tipo de documento</mat-label>
        <input matInput type="text" formControlName="typeId">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Numero de documento</mat-label>
        <input matInput type="text" formControlName="idNumber">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput type="text" formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ciudad</mat-label>
        <input matInput type="text" formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="text" formControlName="password">
      </mat-form-field>
    </div>

      <div  class="register">
        <button type="submit">Registrarse</button>
      </div>

  </form>
</div>
