
.form-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .form > mat-form-field{
    width: 45%;
    padding: 10px;
  }

  .register{
    display: flex;
    justify-content: center;
  }
}
